@model WEB_053502_Selhanovich.Entities.Cart

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items.Values)
        {
            <tr>
                <td>
                    <img src="~/images/@(item.Dish.ImageName + '.' + item.Dish.MimeType)" width="70" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Remove"
                   asp-controller="Cart"
                   asp-route-id="@item.Dish.Id"
                   asp-route-returnUrl="@returnUrl">
                        <img src="~/images/delete.png" width="25" height="25" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
